.C1 {
    background-color: url("images/technologygrowth.jpeg");
    background-repeat: no-repeat;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    border-radius: 0px;
    border-style:inset;
    border-spacing: 15px;
    padding: 10px;
}
tr:nth-child(even)tr:hover {background-color: #D6EEEE;} {
    background-color: rgba(150, 212, 212, 0.4);
    
}
      
th:nth-child(even),td:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}

